<%- include('header.ejs') %>
<div class="container">
    <div class="post-list">
        <% posts.forEach(post => { %>
            <div class="post">
                <div class="post-header">
                    <h3 class="post-title
                    "><%= post.title %></h3>
                    <p>Authored by <a href="poyo">Poyo!</a></p>