<!DOCTYPE html>
<html>

<head>
    <title>The poyo reporter</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <h1>The Poyo <span class="red">R</span>eporter!</h1>
        <div class="links">
            <a href="../../about">About</a>
            <a href="../../random">Random Post</a>
            <a href="../../donate">Donate</a>
        </div>
    </div>
    <div class="themes">
        <a>International</a>
        <span>|</span>
        <a>Jobs</a>
        <span>|</span>
        <a>What's it to live in...</a>
        <span>|</span>
        <a>Interviews</a>
    </div>