<%- include('header.ejs') %>
<div class="container">
    <div class="post-grid">
        <div class="post">
            <div class="post-header">
                <h3 class="post-title">Ricing on linux. Ft Overns!</h3>
                <p>Authored by <a href="poyo">Poyo!</a></p>
            </div>
            <div class="post-content">
                <p>Poyo! Interviews Overns about the beauty of ricing linux. He'll also share some tips for us to get better at ricing!</p>
            </div>
        </div>
        <%- include('footer.ejs') %>