<%- include('header.ejs') %>

    <body>
            <div class="navbar">
                <h1>The Poyo <span class="red">R</span>eporter!</h1>
                <div class="links">
                    <a href="../../about">About</a>
                    <a href="../../random">Random Post</a>
                    <a href="../../donate">Donate</a>
                </div>
            </div>
            <div class="themes">
                    <a>International</a>
                    <span>|</span>
                    <a>Jobs</a>
                    <span>|</span>
                    <a>What's it to live in...</a>
                    <span>|</span>
                    <a>Interviews</a>
            </div>
        <div class="container">
            <div class="post-grid">
                <div class="post">
                    <div class="post-header">
                        <h3 class="post-title">Ricing on linux. Ft Overns!</h3>
                        <p>Authored by <a href="poyo">Poyo!</a></p>
                    </div>
                    <div class="post-content">
                        <p>Poyo! Interviews Overns about the beauty of ricing linux. He'll also share some tips for us to get better at ricing!</p>
                    </div>
                </div>
    </body>

    </html>