<%- include('header.ejs') %>
<body>
<div class="navbar">
    <h1>The Poyo <span class="red">R</span>eporter!</h1>
    <div class="links">
        <a href="../../about">About</a>
        <a href="../../random">Random Post</a>
        <a href="../../donate">Donate</a>
    </div>
</div>
<div class="container">
    <div class="post-grid">
        <div class="post">
            <div class="post-header">
            </div>
        </div>
    </div>
</body>
</html>