<%- include('header.ejs') %>

    <body>
        <header>
            <div class="navbar">
                <h1>The Poyo <span class="red">R</span>eporter!</h1>
                <div class="links">
                    <a href="../../about">About</a>
                    <a href="../../random">Random Post</a>
                    <a href="../../donate">Donate</a>
                </div>
            </div>
            <div class="themes">
                    <a>International</a>
                    <span>|</span>
                    <a>Jobs</a>
                    <span>|</span>
                    <a>What's it to live in...</a>
                    <span>|</span>
                    <a>Interviews</a>
            </div>
        </header>
        <div class="container">
            <div class="post-grid">
                <div class="post">
                    <div class="post-header">
                        <h3 class="post-title">Poyos have conquered Poland and Russia!</h3>
                        <p>Authored by <a href="poyo">Poyo!</a></p>
                    </div>
                    <div class="post-content">
                        <p>The poyos have been planning this for years, and now they have finally succeeded. </p>
                    </div>
                </div>
    </body>

    </html>