<h1 class="title">Linux ricing ft. Overns!</h1><h2 class='subtitle bottom-border'>We'll interview Overns about the beauty of ricing Linux, and he may even give us some tips and tricks!</h2>
<meta name="title" content="Linux ricing ft. Overns!"><meta name="description" content="We'll interview Overns about the beauty of ricing Linux, and he may even give us some tips and tricks!"><meta name="keywords" content="Poyo, Dapoyo, the poyo reporter, reporter, news, tutorial"><meta name="author" content="Poyo!"></meta><p class="right-text bold"> Welcome to the Poyo Reporter! :<span class="red">Poyo</span></p>
<p class="right-text bold"> So to get started, what would you say it's your personal definition of ricing? :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> So, ricing is basically the art of customizing linux, but not like changing the theme of, say, a desktop enviorment. It's configuring stuff like bars, window managers and linux terminals to your liking by editing the config files of a wm or bar.</p>
<p class="right-text bold"> Oh wow, that's so cool! :<span class="red">Poyo</span></p>
<p class="right-text bold"> You just said ricing is an art, why do you think so? :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> I say it's an art because you want to create harmony in every aspect of your system, kinda like reflecting who you are in your own linux build.</p>
<p class="right-text bold"> Did you know I'm learning the "art" of ricing too? It's so entertaining! But time consuming. :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> It's very entertaining!!! but i agree, it's quite time consuming, but if you enjoy it and have fun with it i say it's worth it. The time consuming factor is because  you need to make configurations for a LOT of programs, say, your window manager, your composer, your bar, etc. And sometimes you need to see other people's configs just to figure out some things.</p>
<p class="right-text bold"> Would you say you use to inspire yourself on other's configs? :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> Yep, i take stuff from other people's configs and try to implement them on my own configs.</p>
<p class="left-text"><span class="bold">Overns:</span> In the case of my old polybar, i took some inspiration from some configs i saw on the internet, sadly i can't remember where i got them...</p>
<p class="right-text bold"> Ooookay! Would you like to share some tips for our fellas about how can we get better at ricing? :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> See other people's configs so you can figure some things out. </p>
<p class="left-text"><span class="bold">Overns:</span> Read the documentation in case you don't understand what certain function does.</p>
<p class="left-text"><span class="bold">Overns:</span> And for the folks out there, i really recommend programs like Pywal, Htop, Mocp, Ranger and Cava so you can add a little "bling bling" to your terminal :D and if you use ZSH install Oh My Zsh. For window managers, go for i3, it's simple to configure but it looks awesome, Openbox if you're into stacking window managers, and for terminal emulators, Alacritty and Kitty are the best for that job.</p>
<p class="right-text bold"> Woah! Thank you very much. I'm sure our fellas will love these tips! :<span class="red">Poyo</span></p>
<p class="right-text bold"> So, would you recommend newbies to go ahead and learn ricing straight away or would you have them learn the basics of Linux beforehand? :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> I say, learn basic terminal commands and use a good text editor, i use vim in my case, but you can use nano, emacs or vscode. After that, try to use different window managers to see which one you like.</p>
<p class="right-text bold"> Awesome! :<span class="red">Poyo</span></p>
<p class="right-text bold"> So that's everything for today! We hope to see you around again. Have a good day! :<span class="red">Poyo</span></p>
<p class="left-text"><span class="bold">Overns:</span> Hehe, it's an honor to be interviewed!!</p>
