html, body {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.navbar {
    border-bottom: 1px solid #e9ecef;
    width: 90vw;
    padding: 0 5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > h1 {
    color: black;
}

.red {
    color:crimson;
}

.navbar > .links > * {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: black;
}


.container {
    width: 100%;
    padding: 0 10%;
    margin: 0;
}