* {
    box-sizing: border-box;

}
html, body {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

header {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bold {
    font-weight: 700;
}

.left-text {
    text-align: start;
    width: 100%;
}
.right-text {
    text-align:end;
    width: 100%;
}


.navbar {
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar > h1 {
    color: black;
}

.red {
    color:crimson;
}

.navbar > .links > * {
    margin: 1rem 1rem;
    font-size: 1.2rem;
    color: black;
}

.container {
    width: 100%;
    padding: 0 10%;
    margin: 0;
}

.themes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #e9ecef;
}
.themes > a {
    color: black;
    font-size: 1.2rem;
}
.themes > span {
    color: black;
    font-size: 1.2rem;
}