<h1 class="title">Interviewing Fudge, ft. April!</h1><h2 class='subtitle bottom-border'>Fudge is a jazz/blues band based on London. Today we'll interview april about her experience with the band and a lil bit about guitars.</h2>
<meta name="title" content="Interviewing Fudge, ft. April!"><meta name="description" content="Fudge is a jazz/blues band based on London. Today we'll interview april about her experience with the band and a lil bit about guitars."><meta name="keywords" content="Poyo, Dapoyo, the poyo reporter, reporter, news, tutorial"><meta name="author" content="Poyo!"></meta><p class="right-text bold"><span class="red">Poyo:</span> Hey there, April! Welcome to the Poyo Reporter.</p>
<p class="right-text bold"><span class="red">Poyo:</span> How are you?</p>
<p class="left-text"><span class="bold">April:</span> I'm very well thank you. Excited to be interviewed!</p>
<p class="right-text bold"><span class="red">Poyo:</span> Great! So, let's start. I've heard that you're in a band. What's its name?</p>
<p class="left-text"><span class="bold">April:</span> Its called Fudge (I did not choose the name).</p>
<p class="right-text bold"><span class="red">Poyo:</span> Thats a cool name. What does Fudge mean?</p>
<p class="right-text bold"><span class="red">Poyo:</span> My english aint that good hahaha.</p>
<p class="left-text"><span class="bold">April:</span> Its like a gooey chocolatey sweet.</p>
<p class="left-text"><span class="bold">April:</span> There was not actual idea for choosing the name. It was chosen cause we had about 10 minutes to choose a name before we went on stage to play.</p>
<p class="right-text bold"><span class="red">Poyo:</span> How come so?</p>
<p class="left-text"><span class="bold">April:</span> We forgot we needed a name for the band until it was a little too late!</p>
<p class="right-text bold"><span class="red">Poyo:</span> Ohhhh I see. Was it a contest?</p>
<p class="left-text"><span class="bold">April:</span> Nope I think it was an open mic at a pub.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Awesome. What kind of music do you play?</p>
<p class="left-text"><span class="bold">April:</span> We play rock/blues.</p>
<p class="right-text bold"><span class="red">Poyo:</span> OH YEAH!</p>
<p class="left-text"><span class="bold">April:</span> We are a 7 member band with a extremely talented saxophonist and two great singers.</p>
<p class="right-text bold"><span class="red">Poyo:</span> That's so cool!</p>
<p class="left-text"><span class="bold">April:</span> I play rhythm guitar usually but I have played bass and lead on some songs.</p>
<p class="right-text bold"><span class="red">Poyo:</span> I never understood the difference between the bass and the guitar.</p>
<p class="left-text"><span class="bold">April:</span> Bass is tuned an octave lower and only have 4 strings while the guitar has 6. Bass is for laying down the groove while guitar can flourish overtop or lay down some chords for others to build on.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Oh wow, very technical hahaha.</p>
<p class="left-text"><span class="bold">April:</span> As rhythm guitarist my job is usually to play the chords.</p>
<p class="left-text"><span class="bold">April:</span> But on specific songs some fingerpicking has been used.</p>
<p class="right-text bold"><span class="red">Poyo:</span> OooOOo. Did anything crazy happen to you while performing?</p>
<p class="left-text"><span class="bold">April:</span> Once the power got cut cause someone in the crowd accidently unplugged everything so the sax player started getting everyone in the crowd to sing some songs. Apart from that nothing else major has happened.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Lmao. Have you went in a tour around England?</p>
<p class="left-text"><span class="bold">April:</span> No lol!</p>
<p class="right-text bold"><span class="red">Poyo:</span> I wish I could assist to a concert of yours...</p>
<p class="left-text"><span class="bold">April:</span> We do have stuff coming up in September.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Hype! :D</p>
<p class="left-text"><span class="bold">April:</span> It would be if everyone did a few more rehearsals lol! </p>
<p class="left-text"><span class="bold">April:</span> I am getting a little nervous.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Why?</p>
<p class="left-text"><span class="bold">April:</span> Not many rehearsals have taken place yet, and we have about a month to go.</p>
<p class="right-text bold"><span class="red">Poyo:</span> To go where, xD.</p>
<p class="left-text"><span class="bold">April:</span> Until we have to get up on stage and play music lol.</p>
<p class="right-text bold"><span class="red">Poyo:</span> ªh.</p>
<p class="right-text bold"><span class="red">Poyo:</span> So thats why you're worried.</p>
<p class="left-text"><span class="bold">April:</span> Yeah but I'm sure everything will turn out ok in the end.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Me too!</p>
<p class="left-text"><span class="bold">April:</span> Cause I don't usually play with the band, most of my guitar practice is classical or jazz on my own.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Oh so you're a self taught guitrarist?</p>
<p class="left-text"><span class="bold">April:</span> No, I had a great teacher for a number of years when I was at school.</p>
<p class="left-text"><span class="bold">April:</span> But because I left school I am now self taught I guess.</p>
<p class="right-text bold"><span class="red">Poyo:</span> I am also selftaught hahaha. I learnt programming by myself.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Did you know I tired to learn how to play the ukelele?</p>
<p class="left-text"><span class="bold">April:</span> Yeah you mentioned it before.</p>
<p class="left-text"><span class="bold">April:</span> I have tried ukulele once before, but its very confusing for a guitar player 'cause the bottom string is the highest in pitch.</p>
<p class="right-text bold"><span class="red">Poyo:</span> I actually have forgotten everything. xD</p>
<p class="left-text"><span class="bold">April:</span> Also i really like having 6 strings lol.</p>
<p class="left-text"><span class="bold">April:</span> Although I am intrigued by 5 string guitars cause Jacob Collier uses a 5 string one.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Who's Jacob Collier?</p>
<p class="left-text"><span class="bold">April:</span> Jacob Collier is the musical genius of our time.</p>
<p class="left-text"><span class="bold">April:</span> He plays a plethora of instruments and has a ridiculous degree of knowledge and skill in ever single one of them.</p>
<p class="left-text"><span class="bold">April:</span> And hes very good at understanding harmony in a way I don't think anyone else on earth can.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Oh cool, isn't that impressive? xD</p>
<p class="left-text"><span class="bold">April:</span> He is very impressive.</p>
<p class="left-text"><span class="bold">April:</span> Im a big fan of Serendipity, All I need and the sun is in your eyes.</p>
<p class="right-text bold"><span class="red">Poyo:</span> I'll look 'em out!</p>
<p class="right-text bold"><span class="red">Poyo:</span> This question has been around my head since the beginning of the interview: What was the time you got your biggest audience?</p>
<p class="left-text"><span class="bold">April:</span> Probably when we invited all our friends to come watch us play at the pub lol!</p>
<p class="right-text bold"><span class="red">Poyo:</span> Lmao.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Final question: What's the most important value you've learned while being on the band?</p>
<p class="left-text"><span class="bold">April:</span> Knowing when to shut up and let someone else play!</p>
<p class="right-text bold"><span class="red">Poyo:</span> Unexpected lol.</p>
<p class="left-text"><span class="bold">April:</span> Its an important skill.</p>
<p class="left-text"><span class="bold">April:</span> A band is a collaborative thing so you got let everyone have their turn.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Makes sense. Wise words, April.</p>
<p class="right-text bold"><span class="red">Poyo:</span> Welp, I think thats enough for today, you gotta have some rest. Sip some tea, enjoy Netflix, have fun!</p>
<p class="right-text bold"><span class="red">Poyo:</span> This has been everything for today, fellas. See you on the next Poyo Reporter Interview!</p>
